* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --black: #000000;
    --main-bg: linear-gradient(147deg, #000000 0%, #04619f 74%);
    --player-bg: #eec0c6;
    --player-bg-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

}

html, body {
    height: 100%;
}

body {
    background-color: var(--black);
    background-image: var(--main-bg);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
}

.header-title {
    font-size: 2rem;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.content {
    padding: 1rem;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.image-box {
    background-color: var(--player-bg);
    background-image: var(--player-bg-image);
    border-radius: 8px;
}

.player-name {
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    max-height: 190px;
}

@media (hover: hover) {
    .card:hover {
        box-shadow: 0 0 5px 5px white;;
    }
}